@font-face {
    font-family: 'Metal Mania';
    src: url(assets/fonts/MetalMania-Regular.ttf) format('truetype');
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Metal Mania', cursive;
}

@mixin full-size {
    width: 100%;
    height: 100%;
}

#root {
    @include full-size;
    position: relative;
}

.game-main {
    position: relative;
    @include full-size;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .game-canvas {
        flex-grow: 1;
        width: 100%;
    }

    .game-ui {
        flex-grow: 0;
        width: 100%;
        ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        pointer-events: none;
        user-select: none;

        .game-ui-top-bar {
            width: 100%;
            background: #f00;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .game-ui-bottom-bar {
            width: 100%;
            background: #0f0;
        }

        .game-ui-button {
            pointer-events: all;
            background: #666;
            color: #fff;
            padding: 4px;
            border: 0;
            border-radius: 4px;
        }

        .game-ui-building-menu,
        .game-ui-summoning-menu {
            position: fixed;
            width: 300px;
            height: 400px;
            background: #666;
            box-shadow: 1px 1px 10px 0px #666;
            z-index: 10;
            top: 64px;
            transition: all 0.3s ease-in-out;
            border-radius: 8px;

            &.opened {
                left: 0;
            }

            &.closed {
                left: -320px;
            }

        }

        .game-ui-shrine-button {
            position: fixed;
            bottom: 16px;
            right: 16px;
            width: 128px;
            height: 128px;
            background-image: url(assets/buildings/shrine.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            pointer-events: all;
            transition: all 0.3s ease-in-out;
        }

        .game-ui-shrine-button:hover {
            background-image: url(assets/buildings/shrine-hover.png);
        }
    }
}